{{#partial "content"}}
    <section>
        <div class="container">
            <div class="edit-entry">
                <h2>Edit Entry</h2>
                <form  style ='display:inline;' action="/index/{{blog.slug}}/edit/save" method="post">
                    <label for="title"> Title</label>
                    <input type="text" value="{{blog.title}}" name="title"><br>
                    <label for="content">Entry</label>
                    <textarea rows="5" name="content">{{blog.content}}</textarea>
                    <label for="tag"> Tag</label>
                    {{#each blog.tags}}
                    <input type="text" value="{{this}}" name="tag"><br>
                    {{/each}}
                    <input type="submit" value="Save Entry" class="button">
                    <a href="/index/{{blog.slug}}" class="button button-secondary">Cancel</a>
                </form>
                <form  style ='display:inline;' action="/index/{{blog.slug}}/edit/delete" method="post">
                    <input type="submit" value="Delete Entry" class="button">
                </form>
            </div>
        </div>
    </section>
{{/partial}}
{{>base.hbs}}